<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}"></h1>
<nav th:replace="fragments :: header"></nav>

<form method="post">
    <div class="form-group">
        <input type="hidden" th:field="${eventTag.event}">
        <select th:field="${eventTag.tag}">
            <option th:each="tag : ${tags}"
                    th:value="${tag.id}"
                    th:text="${tag.tagName}"
            ></option>
        </select>
    </div>
    <input type="submit" class="btn btn-success" value="Add Tag">
</form>
</body>
</html>    