<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}"></h1>
<nav th:replace="fragments :: header"></nav>

<form method="post" action="/events/create">

    <div class="form-group">
        <label>Name
            <input type="text" th:field=${event.name} name="name" class="form-control">
        </label>
        <p class = "error" th:errors="${event.name}"></p>

    </div>
    <div class="form-group">
        <label>Description
            <input type="text" th:field=${event.description}  class="form-control"></label>
        <p class = "error" th:errors="${event.description}"></p>

    </div>

    <div class="form-group">

        <label>Email
            <input type="email" id="contactEmail" th:field=${event.contactEmail}   value="me@me.com" class="form-control"></label>
        <p class = "error" th:errors="${event.contactEmail}"></p>

    </div>
    <div class="form-group">

        <label>Number of Attendees
            <input type="number" th:field=${event.Attendees} class="form-control"></label>
        <p class = "error" th:errors="${event.Attendees}"></p>

    </div>
    <div class="form-group">

        <label>Location
            <input type="text" th:field=${event.location} class="form-control"></label>
        <p class = "error" th:errors="${event.location}"></p>

    </div>
    <div class="form-group">

        <label>Register
            <input type="radio" th:field=${event.register} checked = "checked " value="true" class="form-control">
        </label>
            <p class = "error" th:errors="${event.register}"></p>

    </div>
    <div class="form-group">

        <label>EventDate
            <input type="date" th:field=${event.eventDate} class="form-control"></label>
        <p class = "error" th:errors="${event.eventDate}"></p>

    </div>



    <div class="form-group">
    <input type="submit" value="Create" class="btn btn-success"></div>
</form>
</body>
</html>