<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}"></h1>
<nav th:replace="fragments :: header"></nav>

<form method="post" action="/events/create">

    <div class="form=group">
<!-- @RequestParam matches the parameters to the submitted data. For this to work, the parameter names MUST match the name attributes
used in each of the input elements.
<input type="text" name="eventName" class="form-control"></label></div> -->
            <!-- For binding to take place, we must use the model field names as the form field names.-->
        <label>Name
            <input type="text" name="name" class="form-control"></label></div>
    <div class="form=group">
        <label>Description
            <input type="text" name="description" class="form-control"></label></div>
    <div class="form=group">

    <label>Email
            <input type="email" name="contactEmail" class="form-control"></label></div>
    <div class="form=group">

    <label>Number of Attendees
            <input type="number" name="Attendees" class="form-control"></label></div>
    <div class="form-group">
    <input type="submit" value="Create" class="btn btn-success"></div>
</form>
</body>
</html>