<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<h1 th:text="${title}"></h1>
<form method="post">

    <th:block th:each="event : ${events}">
        <div class="form-group">
            <label>
                <span th:text="${event.name}"></span>
                    <input type="checkbox" name="eventIds" th:value="${event.id}" class="form-control">
            </label>
        </div>
    </th:block>

    <input type="submit" value="Delete Selected Events" class="btn btn-danger">
</form>
</body>
</html>