<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body class = "container">
<h1 th:text="${title}"></h1>
<h1 th:text="' \'' + '(name=' + ${event.getName()} +')' + '\' (id=' + ${eventId} + ')'"></h1>
<h1 th:text="' \'' + '(name=' + ${event.getName()} +')' + '\' (id=' + ${eventId} + ')'"></h1>

<nav th:replace="fragments :: header"></nav>
<form method="post" action="/events/edit">

    <div class="form-group">
        <label th:for="name">Name
            <input type="text" th:field=${event.name} name="name" class="form-control"></label>

        <p class = "error" th:errors="${event.name}"></p>

    </div>
    <div class="form-group">
        <label th:for="description">Description
            <input type="text" th:field=${event.description} class="form-control"></label>
        <p class = "error" th:errors="${event.description}"></p>

    </div>

    <div class="form-group">

    <label th:for="contactEmail">Email
        <input type="email"  th:field=${event.contactEmail}  class="form-control"></label>
        <p class = "error" th:errors="${event.contactEmail}"></p>

    </div>
    <div class="form-group">

    <label th:for="Attendees">Number of Attendees
        <input type="number" th:field=${event.Attendees} class="form-control"></label>
        <p class = "error" th:errors="${event.Attendees}"></p>

    </div>
    <input type="hidden" th:value="${eventId}" name="eventId" />

    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-success"></div>
</form>
</body>
</html>