<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body class = "container">
<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: header"></nav>
<form method="post" action="/events/edit">
    <h1 th:text="' \'' + '(name=' + ${event.name} +')' + '\' (id=' + ${event.id} + ')'"></h1>

    <div class="form-group">
        <label th:for="name">Name
            <input type="text" th:field=${event.name} class="form-control"></label>

        <p class = "error" th:errors="${event.name}"></p>

    </div>
   <!-- <div class="form-group">
        <label th:for="description">Description
            <input type="text" th:field=${event.description} class="form-control"></label>
        <p class = "error" th:errors="${event.description}"></p>

    </div>

    <div class="form-group">

    <label th:for="contactEmail">Email
        <input type="email"  th:field=${event.contactEmail}  class="form-control"></label>
        <p class = "error" th:errors="${event.contactEmail}"></p>

    </div>-->
    <div class="form-group">
        <label>Description
            <input type="text" th:field=${event.eventDetails.description}  class="form-control"></label>
        <p class = "error" th:errors="${event.eventDetails.description}"></p>

    </div>

    <div class="form-group">

        <label>Email
            <input type="email" id="contactEmail" th:field=${event.eventDetails.contactEmail}   value="me@me.com" class="form-control"></label>
        <p class = "error" th:errors="${event.eventDetails.contactEmail}"></p>
    </div>
        <div class="form-group">

    <label th:for="Attendees">Number of Attendees
        <input type="number" th:field=${event.Attendees} class="form-control"></label>
        <p class = "error" th:errors="${event.Attendees}"></p>

    </div>
    <div class="form-group">
       <!-- <label> Type
            <select th:field="${event.type}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type.displayName}"
                ></option>
            </select>
        </label>-->
        <label> Category
            <select th:field="${event.eventCategory}">
                <option th:each="eventCategory : ${categories}"
                        th:value="${eventCategory.id}"
                        th:text="${eventCategory.categoryName}"
                ></option>
            </select>
            <p class="error" th:errors="${event.eventCategory}"></p>

        </label>
    </div>

    <div class="form-group">
        <input type="hidden" th:value="${event.id}" name="eventId" />

        <input type="submit" value="Edit" class="btn btn-success"></div>
</form>
</body>
</html>