<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body class = container>
<h1>All Events</h1>
<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${events} and ${events.size()}">No events Created!</p>

<table class="table table-striped">
    <tr><th>Name</th>

    <th>Description</th></tr>

    <tr th:each="event:${events}">
    <td th:text="${event.getKey()}"></td></tr>
    <td th:text="${event.getValue()}"></td></tr>


</table>
<!--ul-->
<!--    <th:block th:each="event:${events}">-->
<!--    <li th:text="${event}"></li></th:block>-->
<!--</ul>-->

</body>
</html>