<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body class = container>
<h1 th:text="${title}">All Events</h1>
<nav th:replace="fragments :: header"></nav>

<p th:unless="${events} and ${events.size()}">No events Created!</p>

<table class="table table-striped">
    <tr>
        <th>EventID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Email</th>
        <th>Attendees</th>
        <th>Type</th>
        <th>EventEdit</th>

    </tr>

    <tr th:each="event:${events}">
        <td th:text="${event.id}"></td>
        <td th:text="${event.name}"></td>
        <td th:text="${event.description }"></td>
        <td th:text="${event.contactEmail }"></td>
        <td th:text="${event.Attendees }"></td>
        <td th:text="${event.eventCategory.categoryName}"></td>
<!--        <td th:text="${event.type}"></td>-->
<!--        <td th:text="${event.type.displayName}"></td>-->
        <td>
            <a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
        </td>
    </tr>
</table>

<!--  images folder=><img th:src = "@{/images/familyPhoto1.jpg}" /> or
image file=> <img th:src = "@{/familyPhoto1.jpg}" />-->
<!--    <td th:text="${event.key}"></td>-->
<!--    <td th:text="${event.value}"></td></tr>-->


<!--ul-->
<!--    <th:block th:each="event:${events}">-->
<!--    <li th:text="${event}"></li></th:block>-->
<!--</ul>-->

</body>
</html>